<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osahub.rachit.navigationdrawerapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GuestNavDrawerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity3" />
        <activity android:name=".Activity4" />
        <activity android:name=".Activity5" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course" >
        </activity>
        <activity
            android:name=".CSEActivity"
            android:label="@string/title_activity_cse" >
        </activity>
        <activity
            android:name=".ECEActivity"
            android:label="@string/title_activity_ece" >
        </activity>
        <activity
            android:name=".EEEActivity"
            android:label="@string/title_activity_eee" >
        </activity>
        <activity
            android:name=".ITActivity"
            android:label="@string/title_activity_it" >
        </activity>
    </application>

</manifest>
